name: example
on: pull_request
jobs:
  example:
    name: example
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: mkdir -p output/
      - run: echo "testing if works" > output/results.txt
      - uses: actions/upload-artifact@v2
        with:
          name: results
          path: output
      - uses: actions/download-artifact@v2
        with:
          name: results
      - name: Open Coverage Notifier Action
        uses: Bearbobs/open-coverage-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path: output/results.txt
